.git
.env
.env.backup
.env.production
.phpunit.result.cache
.phpunit.cache
.DS_Store
Thumbs.db

node_modules
vendor

storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*
bootstrap/cache/*

public/build
public/hot
public/storage

.fleet
.idea
.nova
.vscode
.zed

tests
docs
Homestead.json
Homestead.yaml
